---
export let isLoading = true;
---

<div class={`loading-screen ${isLoading ? '' : 'hidden'}`}>
    <div class="content-wrapper">
        <div class="image-container relative">
            <!-- Imagen para teléfonos -->
            <img
                    class="content__image sm:hidden"
                    src="https://res.cloudinary.com/dixzojb4s/image/upload/v1734062401/fondo_para_telefonos_b77hfx.jpg"
                    alt="Logo 30 años para teléfonos"
            />
            <!-- Imagen para pantallas grandes -->
            <img
                    class="content__image hidden sm:block"
                    src="https://res.cloudinary.com/dixzojb4s/image/upload/v1734061232/FONDO_DE_PANTALLA_urhcoa.jpg"
                    alt="Logo 30 años para laptops y tablets"
            />
            <!-- Capa de animación del borde -->
            <div class="absolute inset-0 rounded-xl border-4 border-transparent animate-border-loading"></div>
        </div>
    </div>
</div>

<style>
    @keyframes border-loading {
        0% {
            border-color: transparent;
        }
        50% {
            border-color: rgba(59, 130, 246, 1); /* Azul (Tailwind blue-500) */
        }
        100% {
            border-color: transparent;
        }
    }

    .loading-screen {
        position: fixed;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        z-index: 1000;
        transition: opacity 0.5s ease;
    }
    .loading-screen.hidden {
        opacity: 0;
        pointer-events: none;
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 10;
    }

    .image-container {
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
    }

    .content__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .animate-border-loading {
        animation: border-loading 2s infinite ease-in-out;
    }
</style>
