---
import { getCollection } from 'astro:content';
import SpecialtiesPost from "../../layouts/SpecialtiesPost.astro";
import MarkdownContent from "../../components/MarkdownContent.astro";
export const prerender = true;
export async function getStaticPaths() {
    const posts = await getCollection('especialidades');
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: {
            ...post,
            body: post.body || '',
        },
    }));
}

const post = Astro.props;
---

<SpecialtiesPost {...post.data}>
    {Astro.props.body ? <MarkdownContent content={Astro.props.body} /> : <p>Contenido no disponible</p>}

</SpecialtiesPost>
