---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="NOSOTROS | ESTUDIO JURÍDICO CABRERA" description="descripcion de nosotros">
    <section class="relative pt-28">
        <div class="container pb-10 max-w-[1800px] mx-auto">

            <div class="flex justify-center  px-5 md:px-0">
                <img src="https://res.cloudinary.com/dixzojb4s/image/upload/v1728570969/nosotros_lneya4.jpg" alt="Nosotros" style="max-height: 610px" loading="lazy" class="shadow-lg shadow-indigo-500/40 object-cover rounded-[30px]">
            </div>

            <h1 class="sm:text-3xl text-2xl text-center font-black font-['Assistant'] px-5 text-fifthLocal py-1.5">"Tu confianza es nuestra prioridad"</h1>
            <p class="text-center text-lg px-5 lg:px-24">En <strong>Estudio Jurídico Cabrera</strong>, nos comprometemos a ofrecer soluciones legales efectivas, con un enfoque personalizado y profesional. Nuestro equipo de expertos está dedicado a brindarte la mejor asesoría jurídica, basándonos en la transparencia, ética y experiencia.</p>

            <div class="grid gap-12 sm:mx-16 md:grid-cols-2 xl:gap-8 justify-around pt-6">
                <div class="flex flex-col justify-start text-center">
                    <img src="https://res.cloudinary.com/dixzojb4s/image/upload/v1728571232/mision_rdorpi.png" alt="misión" style="width: 320px; height: auto;" class="w-auto mx-auto">
                    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-fifthLocal">Misión</h1>
                    <p class="mx-16">Nuestra misión en <strong>Estudio Jurídico Cabrera</strong> es ofrecer servicios jurídicos de alta calidad, orientados a resolver los problemas legales de nuestros clientes de manera eficiente y eficaz. Nos esforzamos por garantizar que cada cliente reciba la atención y el compromiso que se merece.</p>
                </div>

                <div class="flex flex-col justify-center text-center">
                    <img src="https://res.cloudinary.com/dixzojb4s/image/upload/v1728571231/vision_muiixr.png" alt="Visión" style="width: 320px; height: auto;" class="w-auto mx-auto">
                    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-fifthLocal">Visión</h1>
                    <p class="mx-16">Nuestra visión es ser un despacho de referencia en el ámbito legal, reconocido por nuestra excelencia, compromiso y capacidad para resolver casos complejos con integridad. En <strong>Estudio Jurídico Cabrera</strong>, aspiramos a construir relaciones de confianza a largo plazo con nuestros clientes, basadas en nuestra dedicación y experiencia.</p>
                </div>
            </div>
        </div>
    </section>
</Layout>

