.section-header {
    @apply absolute text-primaryLocal w-full  z-20 bg-none ;
}

.section-header-other {
    background-image: url("https://res.cloudinary.com/dixzojb4s/image/upload/v1728569459/bg_for_all_nhvkrm.webp");
    @apply absolute text-primaryLocal w-full  pb-2 lg:pb-1 xl:pb-0.5 z-20 bg-secondaryLocal shadow-lg shadow-secondaryLocal/30;
}

.header-container {
    @apply xl:container mx-auto hidden mt-10 flex-wrap lg:px-4 xl:px-5 py-2 flex-col md:flex-row items-center justify-between relative lg:flex ;
}

.section-nav {
    @apply flex-1 flex items-center justify-end -mr-4 lg:pr-0;
}

.section-nav a {
    font-family: "Archivo Black", sans-serif;
    @apply inline-flex xl:text-xl mr-4 hover:text-primaryLocal;
}

.section-nav a img {
    @apply opacity-0 transform scale-75 translate-y-5 transition-all duration-500 ease-in-out;
}

.section-nav a:hover img {
    @apply opacity-100 transform scale-100 translate-y-0;
}

.logo {
    @apply relative z-30;
}

.header-mobile-menu {
    @apply w-full lg:hidden px-6  flex justify-between items-center;
}

.image-logo-mobile {
    @apply h-10  w-auto;
}

#header-drawer, #drawer-content {
    @apply w-8 !important
}

.header-logo-menu-drawer {
    @apply flex justify-center h-14;
}

.drawer-action {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}
.header-logo{
    @apply mt-2 mr-2 h-6 w-6 !important;
}
 .drawer {
    @apply h-8 w-8 !important;
}

.drawer-side {
    z-index: 2;
}

.drawer-header {
    @apply btn btn-primary drawer-button;
}

.list-menu-mobile li {

    @apply border-b text-sm font-semibold;
}

.list-menu-mobile {
    background-image: url("https://res.cloudinary.com/dixzojb4s/image/upload/v1728569459/bg_for_all_nhvkrm.webp");
}

.menu-drawer {
    @apply menu bg-secondaryLocal text-primaryLocal min-h-full w-[70%] p-4;
}

.icon-menu-mobile {
    @apply h-4;
}

.edit-logo {
    background-image: url("https://res.cloudinary.com/dixzojb4s/image/upload/v1728569459/bg_for_all_nhvkrm.webp");
    @apply h-[12vh] 2xl:h-[10vh] pb-1.5 px-1.5 rounded-xl absolute bg-secondaryLocal shadow-lg shadow-secondaryLocal/30;
}

#especialidades-menu {

    background-image: url("https://res.cloudinary.com/dixzojb4s/image/upload/v1728569459/bg_for_all_nhvkrm.webp");
    @apply  shadow-xl shadow-secondaryLocal/30 bg-secondaryLocal w-[100%] absolute z-10 left-[50%] transform translate-x-[-50%]  !important;
    top: calc(100%  ); /* Ajusta para que aparezca justo debajo del nav */
}


.font-asa {
    font-family: "Archivo Black", sans-serif;
    @apply text-sm xl:text-lg font-light  !important;
}


.underline-on-hover {
    @apply relative text-primaryLocal;
}

.underline-on-hover::after {
    content: '';
    @apply absolute bottom-0 left-0 bg-primaryLocal;
    height: 1px;
    width: 0;
    transition: width 0.3s ease-in-out;
}

.underline-on-hover:hover::after {
    width: 100%;
}

.cont-header-container {
    @apply container ml-12 lg:ml-auto flex gap-3 mt-2 lg:mt-0 md:gap-0 justify-center lg:justify-between mx-auto lg:px-4 xl:px-6;
}

.link, .phone-number, .social-link {
    @apply text-primaryLocal transition-all duration-300;
}

.icon {
    @apply h-[22px];
}

.contact-info li, .link {
    @apply flex items-center gap-2;
}
.phone-number {
    @apply hidden lg:block  hover:underline px-1;
}
.phone-number-new{
    @apply block lg:hidden
}

.social-icons {
    @apply flex gap-2;
}


.cont-add-header {
    background-image: url("https://res.cloudinary.com/dixzojb4s/image/upload/v1728569459/bg_for_all_nhvkrm.webp");
    font-family: "Assistant", sans-serif;
    @apply h-8 font-semibold  flex justify-center items-center mx-auto bg-secondaryLocal w-full absolute top-0
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Estilo base sin animación */
.animate-from-left,
.animate-from-right {
    opacity: 1;
    transform: translateX(0);
}

.hidden-before-animate {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slideInFromLeft {
    animation: slideInFromLeft 1s ease-in-out forwards;
    opacity: 1; /* Para asegurarse de que esté visible durante la animación */
}

.slideInFromRight {
    animation: slideInFromRight 1s ease-in-out forwards;
    opacity: 1; /* Para asegurarse de que esté visible durante la animación */
}