.section__cont__info {
    @apply relative py-[4rem] lg:pt-[4rem] xl:pt-[5rem] lg:pb-0 xl:pb-0 !important;
}

.animation-bottom {
    animation: slideDown 1s ease-in-out;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.section__container {
    @apply mx-auto pb-6;
}

.section__heading {
    @apply text-3xl font-bold text-center text-secondaryLocal mb-8;
}

#section_alliances {
    @apply text-3xl font-bold text-center text-tertiaryLocal mb-8 !important;
}

.section__grid {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8;
}

.section__card {
    @apply w-[100%] h-auto bg-white shadow-secondaryLocal/30 rounded-t-lg overflow-hidden;
}

.section__card__img {
    @apply w-full h-48 object-cover;
}

.section__card__content {
    @apply bg-texture shadow-lg shadow-secondaryLocal/30 p-6 bg-secondaryLocal mb-4 rounded-b-lg !important;
}

.section__card__title {
    @apply text-lg font-semibold text-primaryLocal uppercase;
}

.section__card__desc {
    @apply text-gray-600 mt-2;
}

.swiper-container {
    overflow: hidden;
    width: 100%;
    height: auto;
}

.swiper-slide {
    flex-shrink: 0;
    width: auto;
}

#swiper-associate,
#swiper-client {
    position: relative;
    padding-left: 3rem;
    padding-right: 3rem;
}

#swiper-button-next-client,
#swiper-button-prev-client,
#swiper-button-next-associate,
#swiper-button-prev-associate {
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    color: var(--secondaryLocal); /* Aseguramos contraste */
    cursor: pointer;
    z-index: 10;
}

#swiper-button-next-client::after,
#swiper-button-prev-client::after,
#swiper-button-next-associate::after,
#swiper-button-prev-associate::after {
    font-size: 20px;
    font-weight: bold;
}

#swiper-button-prev-client,
#swiper-button-prev-associate {
    left: 10px;
    right: auto;
}

#swiper-button-next-client,
#swiper-button-next-associate {
    right: 10px;
    left: auto;
}

.swiper-button-next, .swiper-button-prev {
    @apply text-secondaryLocal !important;
}

#swiper-pagination-client {
    bottom: 10px;
    text-align: center;
    position: absolute;
    width: 100%;
    @apply mb-0;
}

#swiper-pagination-client .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    opacity: 0.6;
    @apply bg-secondaryLocal;
}

#swiper-pagination-client .swiper-pagination-bullet-active {
    @apply bg-fifthLocal;
    opacity: 0.8;
}
