.section__contact-us {
    @apply relative bg-secondaryLocal py-[4rem] lg:pt-[4rem] xl:pt-[5rem] 2xl:pt-[6rem] lg:pb-0 xl:pb-0 ;
    background-image: url("https://res.cloudinary.com/dixzojb4s/image/upload/v1728569459/bg_for_all_nhvkrm.webp");
    animation: slideDown 1s ease-in-out;  /* Aplica la animación aquí */
}
.animation-bottom{
    animation: slideDown 1s ease-in-out;  /* Aplica la animación aquí */

}
@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}