---
import '../../styles/partials/footer.css'
---
<footer class="footer-container ">
    <div class="footer-content">
        <div class="border-box-footer">
        </div>
    </div>
    <div class="footer-ul-link">
    </div>
    <ul class="footer-bottom">
        <li><a href="https://portfolio-beta-lovat-16.vercel.app/" target="_blank">Diseñado y desarrollado por Héctor
            Cabrera</a></li>
    </ul>
    <div class="fonts">
        <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inspiration&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    </div>
</footer>
