---
import '../../styles/partials/navBar.css';
---
<nav class="bottom-nav">
    <div class="fnt-nav">
        <div class="nav-content"> <!-- Nuevo contenedor -->
            <a href="/" class="nav-item">
                <img src="https://res.cloudinary.com/dixzojb4s/image/upload/v1728398825/home_tf4fcc.svg" alt="inicio" class=" h-[5vh] mt-0.5">
                <span>INICIO</span>
            </a>
            <a href="/blog" class="nav-item">
                <img src="https://res.cloudinary.com/dixzojb4s/image/upload/v1729024537/blog_o9dspa.svg" alt="galeria" class="h-[5vh] mt-0.5">
                <span>BLOG</span>
            </a>
            <a href="/noticias" class="nav-item">
                <img src="https://res.cloudinary.com/dixzojb4s/image/upload/v1728398568/noticias_arogmw.svg" alt="noticias" class="h-[5vh] mt-0.5">
                <span>NOTICIAS</span>
            </a>
        </div>
    </div>
</nav>
