---

---
<style>
    /* Estilos generales */
    .section-container {
        background-image: url("https://res.cloudinary.com/dixzojb4s/image/upload/v1728569459/bg_for_all_nhvkrm.webp");
        @apply bg-secondaryLocal text-primaryLocal ;
    }

    .container-base {
        @apply container px-5 py-8 mx-auto;
    }

    .section-title-container {
        @apply text-center mb-6 flex justify-center;
    }

    .section-title {
        @apply sm:text-3xl xl:text-4xl 2xl:text-5xl w-[20em] text-2xl font-medium text-center  text-primaryLocal mb-4 pb-1 border-b border-primaryLocal;
    }

    .card-container {
        @apply flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2 text-tertiaryLocal;
    }

    .card {
        @apply p-2 sm:w-1/2 w-full;
    }

    .card-content {
        @apply bg-primaryLocal rounded flex p-4 h-full items-center;
    }

    .card-icon {
        @apply text-indigo-500 w-6 h-6 flex-shrink-0 mr-4;
    }

    .card-title {
        @apply  font-medium xl:text-xl 2xl:text-2xl;
    }

</style>
<section class="section-container">
    <div class="container-base">
        <div class="section-title-container">
            <h2 class="section-title">
                Nuestros Servicios y Compromisos
            </h2>
        </div>
        <div class="card-container">
            <div class="card">
                <div class="card-content">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="card-icon" viewBox="0 0 24 24">
                        <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                        <path d="M22 4L12 14.01l-3-3"></path>
                    </svg>
                    <span class="card-title">Asesoría Legal Personalizada</span>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="card-icon" viewBox="0 0 24 24">
                        <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                        <path d="M22 4L12 14.01l-3-3"></path>
                    </svg>
                    <span class="card-title">Revisión y Redacción de Documentos</span>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="card-icon" viewBox="0 0 24 24">
                        <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                        <path d="M22 4L12 14.01l-3-3"></path>
                    </svg>
                    <span class="card-title">Gestión de Trámites Legales</span>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="card-icon" viewBox="0 0 24 24">
                        <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                        <path d="M22 4L12 14.01l-3-3"></path>
                    </svg>
                    <span class="card-title">Representación ante Autoridades</span>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="card-icon" viewBox="0 0 24 24">
                        <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                        <path d="M22 4L12 14.01l-3-3"></path>
                    </svg>
                    <span class="card-title">Consultas y Seguimiento Constante</span>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="card-icon" viewBox="0 0 24 24">
                        <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                        <path d="M22 4L12 14.01l-3-3"></path>
                    </svg>
                    <span class="card-title">Resolución Ágil de Contingencias</span>
                </div>
            </div>
        </div>
    </div>
</section>
