---
const { slugActual } = Astro.props;
import { getCollection } from "astro:content";

const allPosts = (await getCollection('noticias')).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const uniquePosts = [];
const slugs = new Set();

for (const post of allPosts) {
    if (post.slug !== slugActual && !slugs.has(post.slug)) {
        uniquePosts.push(post);
        slugs.add(post.slug);
    }
    if (uniquePosts.length === 3) break;
}
---
<style>
    .section__NewsTape {
        background-image: url("https://res.cloudinary.com/dixzojb4s/image/upload/v1728569459/bg_for_all_nhvkrm.webp");
        @apply flex flex-col my-12 mx-12 lg:mx-0 bg-secondaryLocal rounded-2xl py-8 px-4;
    }
    h4 {
        @apply text-primaryLocal text-xl font-bold text-center;
    }
    img {
        @apply my-8;
    }
</style>
<div class="section__NewsTape">
    <h4>DESCUBRE MÁS NOTICIAS</h4>
    <ul>
        {uniquePosts.map((post) => (
                <li>
                    <a href={`/noticias/${post.slug}/`}>
                        <img
                                width={280}
                                height={140}
                                src={post.data.heroImage}
                                alt=""
                                class="rounded-xl hover:shadow-2xl shadow-primaryLocal"
                        />
                    </a>
                </li>
        ))}
    </ul>
</div>
