---
const {slugActual} = Astro.props;
import {getCollection} from "astro:content";

const allPosts = (await getCollection('noticias')).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const uniquePosts = [];
const slugs = new Set();

for (const post of allPosts) {
    if (post.slug !== slugActual && !slugs.has(post.slug)) {
        uniquePosts.push(post);
        slugs.add(post.slug);
    }
    if (uniquePosts.length === 3) break;
}
---
<style>
    .section__NewsTape {
        @apply flex  flex-col my-12 mx-12 lg:mx-0  rounded-2xl py-8 px-4;
    }

    h4 {
        text-shadow: 2px 2px 4px rgba(43, 51, 96, 0.39);
        @apply mb-4  text-secondaryLocal text-3xl lg:text-2xl  2xl:text-4xl font-bold text-center;
    }

    h5 {
        font-family: "Assistant", sans-serif;
        @apply break-words w-72 rounded-b-xl px-1 pb-2 text-justify 2xl:text-xl font-normal text-secondaryLocal !important
    }

    .list__News {
        li:hover {
            img{
                @apply shadow-md shadow-tertiaryLocal/30
            }
           h5{
               @apply underline text-tertiaryLocal
           }
        }
        a{
            @apply flex flex-row py-2 border-b border-cyan-950/30
        }

        @apply  flex flex-col
    }
</style>
<div class="section__NewsTape">
    <h4>DESCUBRE MÁS NOTICIAS</h4>
    <ul class="list__News">
        {uniquePosts.map((post) => (
                <li>
                    <a href={`/noticias/${post.slug}/`}>
                        <img
                                width={190}
                                height={120}
                                src={post.data.heroImage}
                                alt=""
                                class="2xl:w-full 2xl:h-[240px] rounded-xl shadow-secondaryLocal !important items-center"
                        />
                        <h5>{post.data.title.length > 80 ? post.data.title.slice(0, 80) + "..." : post.data.title}</h5>

                    </a>
                </li>
        ))}
    </ul>
</div>
