---
const {slugActual} = Astro.props;
import {getCollection} from "astro:content";

const allPosts = (await getCollection('noticias')).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const uniquePosts = [];
const slugs = new Set();

for (const post of allPosts) {
    if (post.slug !== slugActual && !slugs.has(post.slug)) {
        uniquePosts.push(post);
        slugs.add(post.slug);
    }
    if (uniquePosts.length === 3) break;
}
---
<style>
    .section__NewsTape {
        @apply flex flex-col my-12 mx-12 lg:mx-0  rounded-2xl py-8 px-4;
    }

    h4 {
        @apply mb-4 text-secondaryLocal text-3xl lg:text-2xl 2xl:text-4xl font-bold text-center;
    }

    h5 {
        background-image: url("https://res.cloudinary.com/dixzojb4s/image/upload/v1728569459/bg_for_all_nhvkrm.webp");

        @apply rounded-b-xl px-1 pb-2 text-xl font-normal bg-secondaryLocal text-primaryLocal
    }

    .list__News {
        li:hover {
           h5{

               @apply shadow-xl shadow-secondaryLocal/20
           }
        }

        @apply flex flex-row lg:flex-col gap-3 lg:gap-8
    }
</style>
<div class="section__NewsTape">
    <h4>DESCUBRE MÁS NOTICIAS</h4>
    <ul class="list__News">
        {uniquePosts.map((post) => (
                <li>
                    <a href={`/noticias/${post.slug}/`}>
                        <img
                                width={310}
                                height={140}
                                src={post.data.heroImage}
                                alt=""
                                class="2xl:w-full 2xl:h-[240px] rounded-t-xl shadow-secondaryLocal !important items-center"
                        />
                        <h5>{post.data.title.length > 30 ? post.data.title.slice(0, 30) + "..." : post.data.title}</h5>

                    </a>
                </li>
        ))}
    </ul>
</div>
