---
import '../styles/sectionAlliances.css';
import {getCollection} from "astro:content";
import "../../node_modules/swiper/swiper-bundle.min.css";
import CardAlliances from "./CardAlliances.astro";
const postsAssociate = (await getCollection('asociados')).sort(
    (a, b) => {
        const aPubDate = a.data.pubDate ? a.data.pubDate.valueOf() : 0; // Si pubDate es null o undefined, usa 0
        const bPubDate = b.data.pubDate ? b.data.pubDate.valueOf() : 0; // Lo mismo para b
        return bPubDate - aPubDate;
    }
);
---
<style>
    .section__title__asociados {
        font-family: "Archivo Black", sans-serif;
        @apply font-bold text-center text-secondaryLocal mb-8 pt-8 text-5xl 2xl:text-5xl;
    }
    .swiper-wrapper {
        transition-timing-function: linear; /* Movimiento constante y sin aceleraciones */
    }

    .swiper-slide {
        transform: scale(1); /* Mantiene el tamaño de las diapositivas constante */
        transition: transform 1.8s linear, opacity 1.8s linear; /* Alineado con la duración del JS */
    }

    .swiper-slide-active {
        opacity: 1; /* Totalmente visible */
    }

    .swiper-slide:not(.swiper-slide-active) {
        opacity: 0.9; /* Atenuación muy sutil */
    }

</style>

<div class="section__container">
    <h2 class="section__title__asociados ">Alianzas Globales</h2>
    <div id="swiper-associate" class="swiper-container">
        <div class="swiper-wrapper">
            {postsAssociate.map((post) => (
                    <div class="swiper-slide">
                        <CardAlliances src={post.data.src || 'https://res.cloudinary.com/dixzojb4s/image/upload/v1729437484/cliente3_sjbzeo.jpg'} alt={post.data.alt || 'imagen del asociado'} pubDate={post.data.pubDate || new Date()} nombre={post.data.nombre || 'Nombre desconocido'}/>
                    </div>
            ))}
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        import('../../src/scripts/swiper-carousel-alliances_index').then((module) => {
            module.initializeSwiperAssociate('#swiper-associate');
        });
    });
</script>

