---

---

<style>
    .cont__publ {
        @apply absolute text-primaryLocal flex flex-col lg:flex-row items-center justify-center text-center rounded-2xl h-auto sm:w-auto bg-secondaryLocal bottom-0 left-1/2 transform -translate-x-1/2 -mb-[2vh] sm:-mb-[3vh] xl:-mb-[5vh] shadow-lg shadow-secondaryLocal/30 font-semibold w-[80vw];
        /* Ajusté el margen y la altura */
        z-index: 3;
        padding: 1rem; /* Ajuste de padding para dar más espacio */
        max-height: 100%; /* Asegura que no haya recortes de altura */
        background-image: url("https://res.cloudinary.com/dixzojb4s/image/upload/v1728569459/bg_for_all_nhvkrm.webp");
    }

    .icons__publ {
        @apply flex flex-row gap-2 xl:gap-3;

        img {
            @apply h-7 w-7 xl:h-8 xl:w-8;
        }
    }
</style>

<div class="cont__publ">
    <div class="icons__publ">
        <img alt="facebook" src="https://res.cloudinary.com/dixzojb4s/image/upload/v1728946784/facebook_jsyy4v.svg">
        <img alt="twitter" src="https://res.cloudinary.com/dixzojb4s/image/upload/v1728946785/twitter_j5muqs.svg">
        <img alt="whatsapp" src="https://res.cloudinary.com/dixzojb4s/image/upload/v1728946785/whatsapp_ssklfl.svg">
        <img alt="linkedin" src="https://res.cloudinary.com/dixzojb4s/image/upload/v1728946784/linkedin_zzh7cn.svg">
        <img alt="pinterest" src="https://res.cloudinary.com/dixzojb4s/image/upload/v1728946784/pinterest_vl2gtg.svg">
    </div>

</div>