---
import { getCollection } from "astro:content";

const postsClient = (await getCollection('especialidades')).sort((a, b) =>
    a.data.title.localeCompare(b.data.title, 'es')
);
---

<style>
    /* Estilos personalizados usando Tailwind con @apply */
    .especialidades-grid {
        @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 mx-[10vw];
    }

    .especialidad-card:hover {

        .especialidad-title{
            @apply shadow-xl  bg-tertiaryLocal
        }
    }
    .especialidad-card{
        @apply w-full  md:pr-2  ;
    }

    .especialidad-image {
        @apply w-full h-36 object-cover rounded-t-md ;
    }

    .especialidad-title {
        text-shadow: 2px 2px 4px rgba(24, 47, 82, 0.4);
        @apply text-2xl font-semibold text-primaryLocal rounded-b-md bg-secondaryLocal p-2;
    }

    .especialidad-title-p {
        @apply  mb-4 text-secondaryLocal text-3xl lg:text-3xl 2xl:text-4xl font-bold text-center;

    }
    .especialidad-link {
        @apply text-tertiaryLocal font-bold hover:underline;
    }

</style>
<h2 class="especialidad-title-p">ESPECIALIDADES</h2>
<div class="especialidades-grid">
    {postsClient.map(post => (
            <a href={`/especialidades/${post.slug}`} class="especialidad-card">
                <div>
                    <img src={post.data.src} alt={post.data.alt} class="especialidad-image">
                    <h3 class="especialidad-title">{post.data.title}</h3>
                </div>
            </a>
    ))}
</div>